<h1>Rick y Morty</h1>
<div class="info">
  <h2>PERSONAJES: {{ numPersonajes }}</h2>
  <h2>Páginas: {{ numPaginas }}</h2>
  <button (click)="cambiarPagina(false)" [disabled]="paginaActual === 1">Anterior</button>
  <button (click)="cambiarPagina(true)" [disabled]="paginaActual === numPaginas">Siguiente</button>
</div>
<div class="personajes">
  <div class="personaje" *ngFor="let personaje of personajes"
    [ngClass]="{ vivo: (personaje.status === 'Alive'), muerto: (personaje.status === 'Dead') }">
    <h3>{{ personaje.name }}</h3>
    <img [src]="personaje.image" alt="">
    <p>{{ personaje.species }}</p>
    <p>{{ personaje.location.name }}</p>
  </div>
</div>